# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
build/
dist/
.eggs/
*.whl

# Virtual Environments
.venv/
venv/
env/
ENV/
.env
.envrc

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Streamlit
.streamlit/secrets.toml

# ML / Models
# models/*.pkl

# VS Code / IDE
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# OS Files
.DS_Store
Thumbs.db

# Logs / Temp
*.log
*.tmp
tempCodeRunnerFile.py

# Cache
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Arduino / ESP32
hardware/ESP32_code/build/
hardware/ESP32_code/.pio/

# Database
db.sqlite3
db.sqlite3-journal